@import '@/app/variables.scss';
.sidebar{
  
    margin-top: 4px;
    width: 260px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 0px 8px 0px gray;
    
    .sidebar-menu{
        background-color: rgb(134, 134, 134);
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding-bottom: 2px;
        .sidebar-item{
            background-color: white;
            padding: 20px 10px;
        }
        .sidebar-item:hover{
            cursor: pointer;
        }
    }
    .logout{
        background-color: $primary;
        width: 100%;
        border-radius: 0;
        padding: 20px;
        justify-content: center;
        font-size: 1.2rem;
    }
}