@import '@/app/variables.scss';
button{
    padding: 0;
    margin: 0;
    border: unset;
    background-color: $primary;
    padding: 14px 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    width: max-content;
    display: flex;
    gap: 8px;
    
    align-items: center;
}
button:hover{
    cursor: pointer;
}
#type2{
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 5px;
}
.secondary{
    background: white;
    color: #222;
}
.uploadBtn{
    border-radius: 0px;
}